* {
	margin: 0;
	padding: 0;
	/*color: #fff;*/
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	overflow: -Scroll;
	overflow-y: hidden;
	background: #262626;;
}

html {
	width: 100%;
	height: 100%;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: "微软雅黑";
	cursor: auto;
}

#wrap {
	background-position: 50%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*position: fixed;
				top: 0;
				left: 0;*/
	background-size: cover;
	background: #000;
	z-index: 20;
	opacity: 1;
	-webkit-transition: opacity height 2s ease-in;
	-moz-transition: opacity height 2s ease-in;
	-ms-transition: opacity height 2s ease-in;
	-o-transition: opacity height 2s ease-in;
	transition: 1s;
}

#wrap img {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
}

#wrap .loadding {
	height: 0.5%;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
}
