#main {
	background: url(../img/banner_biamar_2016.jpg) center top/cover no-repeat;
	min-height: 1500px;
	width: 100%;
	position: relative;
	
}

#header {
	position: fixed;
	bottom: 30px;
	width: 100%;
	height: 50px;
	z-index: 2;
	opacity: .5;
	text-align: center;
	display: none;
	transition: opacity 1s;
}

#header:hover {
	opacity: 1
}

#header:after {
	width: 100%;
	height: 350px;
	background: url(../img/bg_menu.png) center bottom/cover no-repeat;
	/**cover背景图完整的显示在页面中**/
	opacity: 1;
	z-index: -1;
	/*pointer-events: none;*/
	position: absolute;
	left: 0;
	bottom: -30px;
	content: "";
	/**撑开容器**/
}

#header nav {
	bottom: 0;
	position: relative;
}

#header nav ul li {
	display: inline-block;
	padding-right: 10%;
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom: 2px dotted #fff;
	position: relative;
	font-size: 13px;
}

#header nav ul li:after {
	bottom: -2px;
	width: 22px;
	height: 2px;
	background-color: #b8aa4e;
	position: absolute;
	left: 0;
	content: "";
}

#select a {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: url(../img/logo_small.png) center center no-repeat;
	width: 52px;
	height: 52px;
}

#select .contato1 {
	position: absolute;
	height: 210px;
	top: 200px;
	left: 0;
	right: 0;
}

#select .contato1 .contato {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#select .contato1 .shan {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-60%);
	opacity: 0.9;
}

#select .contato1:hover .line {
	-webkit-transform: translate(0, 0) rotate(180deg);
	transition: all .9s cubic-bezier(.17, .86, .73, 1);
}

#select .contato1 .line {
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 1;
    width: 370px;
}
#conheca{
	width: 100%;
	margin: 0 auto;
}
#conheca .conhecaimg{
	margin: 0 auto;
    position: absolute;
    top: 800px;
    left: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
}
